body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

html {
    height: 100vh;
    width: 100vw;
}


.mouse-trailer {
    position :fixed;
    background: rgb(0,15,245);
    background: radial-gradient(circle, rgba(0,15,245,1) 0%, rgba(0,232,208,1) 100%);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

.hidden {
    display: none;
}

